<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.haomi.core.order.dao.imp.OrderDaoImp">
		
		<sql id="table">haomi_order</sql>
		
		
		<sql id="condition_sql">
		<if test="id != null and id != ''"> and id = #{id}</if>
		<if test="order_code != null and order_code != ''"> and order_code = #{order_code}</if>
	</sql>
		
		
		<select id="listBy" parameterType="java.util.Map"  resultType="cn.com.haomi.inteface.order.entity.OrderEntity">
				select * from 
				<include refid="table" />
				<where>
					<include refid="condition_sql" />
				</where>
		</select>
</mapper>